## 1. Importing necessary libraries

In [ ]:
import pandas as pd

## 2. Import dataset

In [2]:
claimants_data = pd.read_csv('claimants.csv')
claimants_data.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

## 3. Initial Investigation

In [3]:
claimants_data.shape

(1340, 7)

In [4]:
claimants_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CASENUM   1340 non-null   int64
 1   ATTORNEY  1340 non-null   int64
 2   CLMSEX    1328 non-null   float64
 3   CLMINSUR  1299 non-null   float64
 4   SEATBELT  1292 non-null   float64
 5   CLMAGE    1151 non-null   float64
 6   LOSS      1340 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 73.4 KB

In [5]:
claimants_data.isnull().sum()

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

## 4. Data Preprocessing/Data Preparation

In [6]:
claimants_data.head(50)

    CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         5         0     0.0       1.0       0.0    50.0  34.940
1         3         1     1.0       0.0       0.0    18.0   0.891
2        66         1     0.0       1.0       0.0     5.0   0.330
3        70         0     0.0       1.0       1.0    31.0   0.037
4        96         1     0.0       1.0       0.0    30.0   0.038
5        97         0     1.0       1.0       0.0    35.0   0.309
6        10         0     0.0       1.0       0.0     9.0   3.538
7        36         0     1.0       1.0       0.0    34.0   4.881
8        51         1     1.0       1.0       0.0    60.0   0.874
9        55         1     0.0       1.0       0.0     NaN   0.350
10       61         0     1.0       1.0       0.0    37.0   6.190
11      148         0     0.0       1.0       0.0    41.0  19.610
12      150         1     0.0       1.0       0.0     7.0   1.678
13      150         0     1.0       1.0       0.0    40.0   0.673
14      169         1     1.0       1.0       0.0    37.0   0.143
15      171         1     1.0       0.0       0.0     9.0   0.053
16      334         1     1.0       1.0       0.0    58.0   0.050
17      360         0     0.0       1.0       0.0    58.0   0.758
18      376         1     0.0       1.0       0.0     3.0   0.000
19      401         0     1.0       1.0       0.0    38.0   4.754
20      479         0     0.0       NaN       0.0    37.0   3.100
21      480         1     1.0       1.0       0.0    39.0   0.130
22      550         0     0.0       0.0       0.0    38.0  16.161
23      569         0     0.0       NaN       0.0    30.0   0.609
24      580         1     0.0       1.0       0.0    54.0  10.040
25      608         1     1.0       1.0       0.0     3.0   0.787
26      603         1     0.0       1.0       0.0    61.0   0.150
27      606         0     0.0       1.0       0.0     0.0   0.405
28      607         1     0.0       1.0       0.0    40.0   0.405
29      630         0     0.0       1.0       0.0     NaN   0.595
30      640         1     1.0       1.0       0.0    16.0   3.994
31      640         1     0.0       1.0       0.0     NaN   0.337
32      685         1     0.0       1.0       0.0     9.0   0.603
33      700         0     1.0       1.0       0.0    35.0   1.673
34      710         0     1.0       1.0       0.0    35.0   4.751
35      766         0     1.0       1.0       0.0    17.0   3.538
36      775         0     1.0       0.0       0.0    41.0   3.185
37      805         0     1.0       1.0       0.0    50.0   3.700
38      819         1     0.0       1.0       0.0    33.0   0.386
39      838         0     0.0       1.0       0.0     9.0   1.970
40      851         1     0.0       1.0       0.0    34.0   0.904
41      871         0     1.0       0.0       0.0    33.0   8.090
42      905         0     1.0       1.0       0.0    46.0   8.090
43      941         1     1.0       1.0       0.0    55.0  13.100
44      971         1     0.0       1.0       0.0     5.0   0.460
45       61         1     1.0       1.0       0.0     NaN   3.981
46       63         0     0.0       0.0       0.0    16.0   1.740
47       78         1     0.0       1.0       0.0     1.0   0.000
48       91         0     0.0       1.0       0.0     NaN   1.003
49        0         0     0.0       1.0       0.0    40.0   3.100

In [7]:
del claimants_data['CASENUM']

In [8]:
claimants_data

      ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0            0     0.0       1.0       0.0    50.0  34.940
1            1     1.0       0.0       0.0    18.0   0.891
2            1     0.0       1.0       0.0     5.0   0.330
3            0     0.0       1.0       1.0    31.0   0.037
4            1     0.0       1.0       0.0    30.0   0.038
...        ...     ...       ...       ...     ...     ...
1335         1     0.0       1.0       0.0     NaN   0.576
1336         0     1.0       1.0       0.0    46.0   3.705
1337         1     1.0       1.0       0.0    39.0   0.099
1338         0     1.0       0.0       0.0     8.0   3.177
1339         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 6 columns]

In [9]:
claimants_data.dropna(axis=0,inplace=True)

In [11]:
claimants_data.isnull().sum()

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [12]:
claimants_data.dtypes

ATTORNEY      int64
CLMSEX      float64
CLMINSUR    float64
SEATBELT    float64
CLMAGE      float64
LOSS        float64
dtype: object

## 5. Model Building

In [16]:
X = claimants_data.iloc[:,1:]
y = claimants_data[['ATTORNEY']]

In [17]:
X

      CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        0.0       1.0       0.0    50.0  34.940
1        1.0       0.0       0.0    18.0   0.891
2        0.0       1.0       0.0     5.0   0.330
3        0.0       1.0       1.0    31.0   0.037
4        0.0       1.0       0.0    30.0   0.038
...      ...       ...       ...     ...     ...
1334     1.0       1.0       0.0    16.0   0.060
1336     1.0       1.0       0.0    46.0   3.705
1337     1.0       1.0       0.0    39.0   0.099
1338     1.0       0.0       0.0     8.0   3.177
1339     1.0       1.0       0.0    30.0   0.688

[1096 rows x 5 columns]

In [18]:
y

      ATTORNEY
0            0
1            1
2            1
3            0
4            1
...        ...
1334         1
1336         0
1337         1
1338         0
1339         1

[1096 rows x 1 columns]

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state = 123,test_size = 0.20)

In [29]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(876, 5)
(876, 1)
(220, 5)
(220, 1)

## 6. Model Training

In [30]:
from sklearn.linear_model import LogisticRegression

In [32]:
log_model = LogisticRegression()
log_model.fit(X_train,y_train)

C:\Users\X1 Yoga\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

## 7. Model Testing

#### 7.1 Training data

In [33]:
y_pred_train_data = log_model.predict(X_train) # Train accuracy

#### 7.2 Test data

In [38]:
y_pred = log_model.predict(X_test)
y_pred

array([0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1],
      dtype=int64)

## 8. Model Evaluation Metrics

In [34]:
from sklearn.metrics import classification_report

In [39]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.74      0.59      0.66       112
           1       0.65      0.79      0.71       108

    accuracy                           0.69       220
   macro avg       0.70      0.69      0.68       220
weighted avg       0.70      0.69      0.68       220

In [ ]:
#train accuracy - 71%
#Test accuracy - 69%

## 9. Dumping python codes into Binary files - Serialization

In [40]:
from pickle import dump

In [42]:
dump(log_model,open('claimants_model.pkl','wb'))

In [43]:
from pickle import load

In [46]:
loaded_log_model = load(open('claimants_model.pkl','rb'))

In [48]:
loaded_log_model.score(X_test,y_test)

0.6863636363636364